__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
.DS_Store
data/raw_docs/*
data/processed_docs/*
data/mini_legal_corpus/*
!data/raw_docs/.gitkeep
!data/processed_docs/.gitkeep
!data/mini_legal_corpus/.gitkeep
evaluation/*.log
.vscode/
.idea/
